In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
us = pd.read_csv('https://raw.githubusercontent.com/ConorPAnderson/city_temperatures/main/us_city_temperatures')
us.head()

,Unnamed: 0,Region,Country,State,City,Month,Day,Year,AvgTemperature
0,1450990,North America,US,Alabama,Birmingham,1,1,1995,50.7
1,1450991,North America,US,Alabama,Birmingham,1,2,1995,37.2
2,1450992,North America,US,Alabama,Birmingham,1,3,1995,33.2
3,1450993,North America,US,Alabama,Birmingham,1,4,1995,33.3
4,1450994,North America,US,Alabama,Birmingham,1,5,1995,26.4

In [18]:
#Average temperature on any day in between 1995 and 2019 for each state
us.groupby(by = 'State').mean().sort_values('AvgTemperature')['AvgTemperature']

State
Alaska                  36.428500
North Dakota            43.211873
Minnesota               43.899440
Maine                   44.175410
Montana                 46.288385
Wyoming                 46.492973
South Dakota            46.969134
Vermont                 47.225447
New Hampshire           47.264182
Wisconsin               47.488118
Michigan                47.916208
Iowa                    50.312338
Idaho                   50.443748
New York                50.568758
Washington              50.832128
Nebraska                51.052051
Illinois                51.617948
Colorado                51.746451
Massachusetts           51.943704
Rhode Island            52.019313
Ohio                    52.079183
Connecticut             52.201946
Pennsylvania            52.677091
Indiana                 53.000066
West Virginia           53.171823
Utah                    53.921585
Oregon                  53.980793
Kansas                  54.952164
Delaware                55.228686
New Jersey              55.465531
Missouri                56.503844
Maryland                57.488081
Kentucky                57.647928
New Mexico              58.245981
District of Columbia    58.682008
Virginia                59.236985
North Carolina          59.293929
Tennessee               61.146627
Oklahoma                61.181067
California              61.956388
Nevada                  62.351152
Arkansas                62.499018
Mississippi             63.728158
Alabama                 64.529724
Georgia                 64.836439
South Carolina          65.207404
Texas                   66.681754
Louisiana               68.229695
Arizona                 69.976146
Florida                 72.198032
Hawaii                  77.407670
Name: AvgTemperature, dtype: float64

In [16]:
#Lowest average temperature on any day in between 1995 and 2019 for each state
us.groupby(by = 'State').min().sort_values('AvgTemperature')['AvgTemperature']

State
Alaska                 -50.0
Minnesota              -29.8
North Dakota           -29.5
Montana                -26.4
South Dakota           -22.2
Wisconsin              -21.2
Maine                  -20.9
Illinois               -20.0
Wyoming                -18.1
Iowa                   -17.8
Indiana                -15.6
Michigan               -15.1
Vermont                -14.1
Nebraska               -13.4
Colorado               -11.0
Ohio                   -10.1
New York                -9.8
Washington              -9.4
Idaho                   -9.2
Missouri                -6.1
Pennsylvania            -5.9
Kansas                  -5.6
New Hampshire           -5.0
West Virginia           -4.2
Connecticut             -2.1
Kentucky                -0.9
Massachusetts            0.2
Rhode Island             0.3
Texas                    2.1
Utah                     2.8
New Mexico               3.0
Oregon                   4.2
Oklahoma                 4.2
Tennessee                4.4
New Jersey               4.6
Nevada                   5.4
North Carolina           6.6
Delaware                 7.6
Alabama                  7.8
Virginia                 7.9
Maryland                 9.0
Arizona                 10.2
Mississippi             10.6
District of Columbia    11.9
Arkansas                11.9
Georgia                 13.7
Louisiana               20.3
South Carolina          21.8
Florida                 27.0
California              27.6
Hawaii                  65.7
Name: AvgTemperature, dtype: float64

In [17]:
#Highest average temperature on any day in between 1995 and 2019 for each state
us.groupby(by = 'State').max().sort_values('AvgTemperature')['AvgTemperature']

State
Alaska                   79.5
Wyoming                  87.1
Hawaii                   87.2
Vermont                  88.8
Maine                    89.1
Rhode Island             89.2
New Mexico               89.4
Michigan                 89.4
Delaware                 89.7
Connecticut              89.8
New Hampshire            90.1
Massachusetts            90.7
North Carolina           91.0
Ohio                     91.2
Alabama                  91.5
North Dakota             91.7
Minnesota                92.0
Utah                     92.2
Wisconsin                92.2
Illinois                 92.3
West Virginia            92.5
Maryland                 92.8
South Carolina           92.8
Mississippi              92.8
Florida                  92.8
District of Columbia     92.8
Pennsylvania             92.9
Iowa                     93.0
Kentucky                 93.2
Nebraska                 93.2
Virginia                 93.5
New York                 93.7
Indiana                  94.0
Tennessee                94.1
Idaho                    94.2
South Dakota             94.3
Colorado                 94.7
Louisiana                95.4
New Jersey               95.6
Kansas                   96.1
Missouri                 96.3
Oregon                   97.3
Georgia                  97.7
Washington               97.7
Texas                    98.5
Montana                 100.1
Oklahoma                100.4
Arkansas                100.7
California              102.6
Nevada                  107.0
Arizona                 107.7
Name: AvgTemperature, dtype: float64